[Desktop Entry]
Name=LSAnnotation
Comment=Image Polygonal Annotation with Python
Exec=LSAnnotation
Icon=LSAnnotation
Terminal=true
Type=Application
Categories=Graphics;RasterGraphics;
